<div class="container">
  <h1 class="headline">Why <span class="headline us">Us ?</span></h1>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="center" class="circle-container">
    <div class="circle-item">
      <img src="./../../../../assets/why1.jpg" alt="why us" class="circle-image">
      <h2>Hot deals & offers</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora placeat aspernatur iusto, ad eos
        beatae est tenetur nostrum illum delectus error! Similique perferendis explicabo ut, error consequatur veritatis
        nesciunt?</p>
    </div>
    <div class="circle-item">
      <img src="./../../../../assets/why2.jpg" alt="why us" class="circle-image">
      <h2>Fresh food</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate dignissimos, molestiae neque eum iusto
        fugit atque fugiat magnam. Sit sequi totam nihil obcaecati consectetur officia soluta recusandae nobis id
        eligendi.</p>
    </div>
    <div class="circle-item">
      <img src="./../../../../assets/why3.jpg" alt="why us" class="circle-image">
      <h2>Fast delivery</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eligendi quibusdam saepe necessitatibus, quam
        consectetur alias rerum dolorem. Amet, commodi ipsam enim dolores ad dolore sint ea pariatur officia
        voluptatibus.</p>
    </div>
  </div>
</div>
