<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h1 class="headline">About Us</h1>
    <img class="head-img" src="./../../../assets/about-header.png" alt="Our Team" class="team-photo">
    <p class="description">
        We are a team of passionate individuals dedicated to crafting exceptional digital experiences. Our journey began
        in a small garage, fueled by the desire to revolutionize how people interact with technology. Today, we stand
        tall, with a diverse team of designers, developers, and dreamers, united by a common goal: to make the world a
        better place through innovation.
    </p>
    <div fxLayout="row"  fxLayoutGap="50px" fxLayoutAlign="center center" class="values">
        <img class="principle-img" fxFlex="50" src="./../../../assets/principle.jpg" alt="our principles">
        <div fxFlex="50"> 
            <div class="value">
                <mat-icon>explore</mat-icon>
                <h2>Exploration</h2>
                <p>Curiosity drives us forward. We thrive on exploring new ideas, pushing boundaries, and discovering innovative solutions.</p>
              </div>
              <div class="value">
                <mat-icon>build</mat-icon>
                <h2>Creation</h2>
                <p>We believe in the power of creation. Every line of code, every pixel we craft, is a testament to our commitment to excellence.</p>
              </div>
              <div class="value">
                <mat-icon>people</mat-icon>
                <h2>Collaboration</h2>
                <p>Together, we are stronger. Collaboration is at the heart of everything we do. We celebrate diversity and embrace teamwork.</p>
              </div>
        </div>
    </div>
</div>