<mat-card fxLayout="row" fxLayoutGap="50px">
    <div fxFlex="50">
        <h1 class="headline">About Us</h1>
        <p class="paragraph">

            We are a team of dedicated professionals committed to delivering high-quality products and services. Our
            mission is to innovate and excel in our industry, ensuring customer satisfaction and fostering long-term
            relationships. We strive to continually improve and stay ahead of industry trends, leveraging our expertise
            and passion to meet the evolving needs of our customers. Our commitment to excellence drives us to provide
            superior solutions and support, creating a strong foundation for lasting partnerships.</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <button mat-raised-button color="custom-button">Read More</button>
                <button mat-raised-button color="custom-button">Browse Our Menu</button>
            </div>
    </div>
    <div fxFlex="50">
        <img src="./../../../../assets/home-about.jpg" alt="About Us Image" style="width: 100%; height: auto;">
    </div>
</mat-card>
