<section class="container">
    <div fxLayout="row" fxLayoutGap="50px" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="column"
         fxLayoutAlign="center center">
        <div class="hero-text" fxFlexOrder="1" fxFlexOrder.sm="2" fxFlexOrder.xs="2" fxFlexOrder.md="2">
            <h1>Your perfect sushi experience</h1>
            <p>Indulge in the delicate dance of textures and tastes as you embark on a culinary adventure like no other.
            </p>
            <button mat-raised-button color="primary">Order Now</button>
        </div>
        <img src="./../../../../assets/hero.jpg" alt="" fxFlexOrder="2" fxFlexOrder.sm="1" fxFlexOrder.xs="1" fxFlexOrder.md="1">
    </div>
</section>
