<footer fxLayout="column" class="footer" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="footer-row" fxLayoutGap="20px">
        <div fxFlex="25" class="footer-column">
            <h3>Pages</h3>
            <div fxLayout="column" fxLayoutGap="10px" class="footer-links">
                <a mat-button routerLink="">Home</a>
                <a mat-button routerLink="menu">Menu</a>
                <a mat-button routerLink="about">About Us</a>
                <a mat-button routerLink="contact">Contact Us</a>
            </div>
        </div>
        <div fxFlex="25" class="footer-column" class="footer-links">
            <h3>Contact</h3>
            <mat-list>
                <p>Place: Your Place</p>
                <p>Number: +123456789</p>
                <p>Email: infogmail.com</p>
            </mat-list>
        </div>
        <div fxFlex="25" class="footer-column" class="footer-links">
            <h3>Opening Hours</h3>
            <mat-list>
                <p>Mon-Fri: 9am - 10pm</p>
                <p>Sat-Sun: 10am - 11pm</p>
            </mat-list>
        </div>
    </div>
    <div>
        <!-- <div fxLayout="row" fxLayoutGap="10px" class="social-icons">
            <h3>Follow Us</h3>

            <a href="https://www.instagram.com">
                <mat-icon class="mat-icon-lg">instagram</mat-icon>
            </a>
            <a href="https://www.facebook.com">
                <mat-icon class="mat-icon-lg">facebook</mat-icon>
            </a>
            <a href="https://www.linkedin.com">
                <mat-icon class="mat-icon-lg">linkedin</mat-icon>
            </a>
        </div> -->
    </div>
</footer>