<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <div fxFlex="75" fxFlex.lt-md="100">
            <mat-card class="shadow-0">
                <mat-card-content class="m-4">
                    <h4 class="mat-title mb-4">Your shopping cart</h4>
                    @for (cartItem of cartItems; track $index)
    {
                    <div fxLayout="row" fxLayoutGap="16px" class="mb-4">
                        <div fxFlex="50">
                            <div fxLayout="row" fxLayoutGap="16px">
                                <img [src]="cartItem.menuItem.imageUrl" class="border rounded"
                                    style="width: 96px; height: 96px;">
                                <div>
                                    <a href="#" class="nav-link">{{ cartItem.menuItem.name}}</a>
                                    <p class="text-muted">{{ cartItem.menuItem.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="25" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <mat-form-field appearance="fill">
                                <mat-label>Quantity</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let quantity of [1, 2, 3, 4]"
                                        [value]="quantity">{{quantity}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <span class="h6">$1156.00</span> <br>
                            <small class="text-muted text-nowrap"> $460.00 / per item </small>
                        </div>
                        <div fxFlex="25" fxLayout="row" fxLayoutAlign="center" class="mt-2" >
                            <button mat-raised-button color="warn" class="border">Remove</button>
                        </div>
                    
                    </div>
                }
                <div>
                        <p><mat-icon class="text-muted">local_shipping</mat-icon> Free Delivery within 1-2 weeks</p>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="25" fxFlex.lt-md="100">
            <mat-card class="mb-3 shadow-0 border">
                <mat-card-content>
                    <form>
                        <mat-form-field class="example-full-width">
                            <mat-label>Have coupon?</mat-label>
                            <input matInput placeholder="Coupon code">
                            <button mat-button matSuffix>Apply</button>
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="shadow-0 border">
                <mat-card-content>
                    <div fxLayout="column" fxLayoutGap="8px">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <p>Total price:</p>
                            <p>$329.00</p>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <p>Discount:</p>
                            <p class="text-success">-$60.00</p>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <p>TAX:</p>
                            <p>$14.00</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <p>Total price:</p>
                            <p class="fw-bold">$283.00</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button mat-raised-button color="primary" class="w-100 mb-2">Make Purchase</button>
                        <button mat-button class="w-100">Back to shop</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>