<div class="container">
    <div class="center-container">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Order Successfully Placed!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Thank you for your order. Your order has been successfully placed.</p>
          <p>Estimated delivery time: 1-2 hours.</p>
          <p>Your order will be carefully prepared and delivered.</p>
          <p>If you have any questions or concerns regarding your order, please feel free to contact us at <strong>sushisuhi280gmail.com</strong>.</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button class="form-button" routerLink="/menu">Continue Shopping</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  