<div fxLayoutAlign="center center" class="container">
    <mat-card class="form-card" fxLayout="row" fxFlex="50%">
      <img src="./../../../assets/shipping-address.jpg" alt="Login" fxFlex="50%" fxHide.lt-md />
      <div fxLayout="column" fxLayoutAlign="center" fxFlex="50%" fxFlex.lt-md="100%">
        <mat-card-header>
          <mat-card-title>Shipping Address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="onSubmit()" fxLayout="column" class="shipping-form">
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" placeholder="John Doe" name="fullName" [(ngModel)]="shippingAddress.fullName">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput type="text" placeholder="New York" name="city" [(ngModel)]="shippingAddress.city">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Street Address</mat-label>
              <input matInput type="text" placeholder="1234 Main St" name="streetAddress" [(ngModel)]="shippingAddress.streetAddress">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Building</mat-label>
              <input matInput type="text" placeholder="Building name or number" name="building" [(ngModel)]="shippingAddress.building">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Apartment Number</mat-label>
              <input matInput type="text" placeholder="Apartment number, suite, unit, etc." name="apartmentNumber" [(ngModel)]="shippingAddress.apartmentNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Floor</mat-label>
              <input matInput type="text" placeholder="Floor number" name="floor" [(ngModel)]="shippingAddress.floor">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" placeholder="(123) 456-7890" name="phoneNumber" [(ngModel)]="shippingAddress.phoneNumber">
            </mat-form-field>
            <button mat-button type="submit" class="form-button">Submit</button>
          </form>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  